.about {
  width: 100%;
  height: 100vh;
  background-color: black;
  background: linear-gradient(to bottom, #000000, var(--deep-dark-green));

  border: none;
  color: white;
  padding-bottom: 10rem;
  position: relative;
  border-radius: 4rem 4rem 0 0;
}
.card-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: linear-gradient(45deg, var(--medium-green), var(--light-green));
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  scale: 0;
  box-shadow: 0 0 5px #57be85, 0 0 15px rgba(87, 190, 133, 0.8),
    0 0 30px rgba(87, 190, 133, 0.6), 0 0 60px rgba(39, 115, 106, 0.4),
    0 0 90px rgba(39, 115, 106, 0.3), 0 0 150px rgba(39, 115, 106, 0.2),
    0 0 200px rgba(39, 115, 106, 0.1), 0 0 300px rgba(3, 89, 54, 0.05);
}

.circle {
  background: linear-gradient(#ffffff27, #ffffff28);
  border-radius: inherit;
  position: absolute;
  transition: all 1s ease-in-out;
  inset: calc(10px * var(--i));
}
.c1 {
  animation: eny 2s forwards;
  animation-fill-mode: forwards;
}
.c2 {
  animation: yne 2s forwards;
  animation-fill-mode: forwards;
}
.c3 {
  animation: ade 2s forwards;
  transition: all 1s ease-in-out;
  animation-delay: calc(1s + 0.1s * var(--i));
}
.c4 {
  margin-left: 80%;
}
.c5 {
  margin-right: 80%;
}
.b1 {
  animation: inc 2s forwards;
  animation-delay: 1s;
}

@keyframes eny {
  0% {
    scale: 0;
  }
  50% {
    scale: 1;
  }
  60% {
    transform: translate(-320%, -130%);
  }
  80% {
    transform: translate(-320%, -130%);
  }
  90% {
    transform: translate(-320%, -130%) rotateY(80deg);
  }
  100% {
    scale: 1;
    transform: translate(-320%, -130%) rotate3d(0, 1, 0, 80deg);
    z-index: 2;
  }
}

@keyframes yne {
  0% {
    scale: 0;
  }
  50% {
    scale: 1;
  }
  60% {
    transform: translate(320%, -130%);
  }
  80% {
    transform: translate(320%, -130%);
    /* rotate3d(0, 1, 0, -80deg); */
  }
  90% {
    transform: translate(320%, -130%) rotateY(-80deg);
  }
  100% {
    scale: 1;
    transform: translate(320%, -130%) rotateY(-80deg);
  }
}

@keyframes ade {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 0, calc(var(--i) * 15px));
  }
}
@keyframes lsd {
  from {
    transform: translate(-320%, -130%) rotate3d(0, 1, 0, 80deg);
  }
  to {
    transform: translate(-220%, -130%) rotate3d(0, 1, 0, 80deg);
  }
}
@keyframes inc {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
@keyframes grow-height {
  0% {
    height: 0;
    border: 1rem var(--light-green) solid;
    border-top: 0;
  }
  100% {
    height: 100%;
    border: 1rem var(--light-green) solid;
    border-top: 0;
    opacity: 1;
  }
}
.grow-in {
  animation: grow-height 0.5s forwards;
  animation-delay: 4s;
}
.about-content {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.br {
  width: 0%;
  margin-top: 6.4rem;
  border-radius: 1rem;
  /* transform: translateY(-300%); */
  height: 5rem;
  /* align-self: top; */
  background-color: var(--medium-green);
  box-shadow: 0 0 5px #57be85, 0 0 15px rgba(87, 190, 133, 0.8),
    0 0 30px rgba(87, 190, 133, 0.6), 0 0 60px rgba(39, 115, 106, 0.4),
    0 0 90px rgba(39, 115, 106, 0.3), 0 0 150px rgba(39, 115, 106, 0.2),
    0 0 200px rgba(39, 115, 106, 0.1), 0 0 300px rgba(3, 89, 54, 0.05);

  /* background: linear-gradient(#44444427, #6e6e6e28); */
}

.cont {
  width: 60%;
  transition: all 1s linear;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background: url(./assets/i1.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  box-shadow: 0 0 5px #57be85, 0 0 15px rgba(87, 190, 133, 0.8),
    0 0 30px rgba(87, 190, 133, 0.6), 0 0 60px rgba(39, 115, 106, 0.4),
    0 0 90px rgba(39, 115, 106, 0.3), 0 0 150px rgba(39, 115, 106, 0.2),
    0 0 200px rgba(39, 115, 106, 0.1), 0 0 300px rgba(3, 89, 54, 0.05);
}
.cont-text {
  background-color: transparent;
  /* opacity: 0.3; */
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  height: 50%;
  width: inherit;

  font-family: Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.cont::before {
  content: "";
  position: absolute;
  background-color: gray;
  opacity: 0.4;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  border-bottom-right-radius: 100%;
  /* z-index: 4; */
}
/* .cont-img {
  background-color: bisque;
  flex-grow: 2;
} */

@media screen and (max-width: 768px) {
  .card {
    display: none;
  }
  .cont::before {
    content: "";
    position: absolute;
    background-color: gray;
    opacity: 0.4;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;
    /* z-index: 4; */
  }
  .card-container{
    height: 80vh;
  }
  .about {
    padding-bottom: 5rem;
    border-radius: 2rem 2rem 0 0;
  }

  .br {
    width: 650px;
    height: 3rem;
    margin-top: 3rem;
  }
  .b1 {
    animation: inc 2s forwards;
    animation-delay: 0s;
  }

  .cont {
    width: 70%;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px #57be85, 0 0 10px rgba(87, 190, 133, 0.8);
  }

  .cont-text {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

@media screen and (max-width:531px){
  .card {
    display: none;
  }
  .cont::before {
    content: "";
    position: absolute;
    background-color: gray;
    opacity: 0.4;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;
    /* z-index: 4; */
  }
  .card-container{
    margin-top: 10rem;
    height: 70vh;
  }
  .cont-text{
    gap: 0;
  }
  .cont-text img{
  scale: 0.7;
  }
  .about {
    padding-bottom: 5rem;
    border-radius: 2rem 2rem 0 0;
  }

  .br {
    height: 3rem;
    margin-top: 3rem;
  }
  .b1 {
    animation: inc 2s forwards;
    animation-delay: 0s;
  }

  .cont {
    width: 70%;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px #57be85, 0 0 10px rgba(87, 190, 133, 0.8);
  }

  .cont-text {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}